@import url('http://fonts.googleapis.com/css?family=Raleway:300,400');
@import url("http://fonts.googleapis.com/css?family=Metal+Mania");
@font-face{
    font-family:Booter -zero zero.
        src:url("fonts/Booter - zero zero.woff") format("woff"),
            url("fonts/Booter - zero zero.woff2") format("woff2");
            font-weight:normal;
            font-style:normal;
}
 *{
    box-sizing:border-box;
    font-family:Raleway;
    color:#777;
}
html body{
    margin:0;
    padding:0;
}
.nav ul{
    margin:0;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:.sem;
    color:white;
    text-decoration:none;
}
.main-nav{
    text-align:center;
    font-size:1.len;
    font-weight:lighter;
    border-bottom:1px solid rgba(255,255,255, .3);
}
.main-nav li{
    padding:0 5%;
}
.nav a:hover{
    background-color:rgba(255,255,255,.3);
}
.main-header{
    background-color:rgba(0,0,0,.6);
    background-image:url('f2.jpg');
    background-blend-mode:multiply;
    background-size:cover;
    padding-bottom:120px;

}

.band-name{
    text-align:center;
    margin:0;
    font-size:4em;
    font-family:"Booter -zero zero";
    font-weight:normal;
    color:white;
}
.band-name-large{
    font-size:8em;
}
.content-section{
    margin:1em;
}
.container{
    max-width:900px;
    margin:0 auto;
    padding:0 1.5em;
}
.section-header{
    font-family:"metal mania";
    font-weight:normal;
    color:red;
    text-align:center;
    font-size:2.5em;
}
p{
    text-align: justify;
}
.about-band-image{
    float:left;
    height:200px;
    width:200px;
    margin:15px;
    border-radius: 50%;
}
.main-footer{
    background-color:#56ccf2;
    color:white;
    paddig:.25em 0;
}
.main-footer-container{
    disply:flex;
    align-items:center;
}
.main-footer-container ul{
    flex-grow: 1;
    text-align:end;
}
.footer-nav li{
    padding:0 .5em;
}
.footer-nav img{
    width:30px;
    height:30px;
}
.main-footer{
    margin-top: -10px;
    background-image: url('qqq.jpg');
}
.main-footer a{
    text-decoration: none;
    color: white;
}
.main-footer ul{
    list-style: none;
}
.main-footer table{
    position: relative;
    color: white;
}
.main-footer th{
    color: white;
    text-align: center;
    text-decoration: underline;
}
.main-footer td{
    text-align: center;
}
.copyright{
    text-align: center;
    color: white;
}
.add{
    text-align: left;
    padding-left: 180px;
}
